<h3> Edit Your Profile </h3>

<br />
<!-- <h5> Change it all or change nothing </h5> -->

<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
  <div class="success"> <%= successMessage %> </div>
<% } %>

<% if (typeof errorMessage !== 'undefined') { %>
  <div class="error"> <%= errorMessage %> </div>
<% } %>

<form method="post" action="/profile/edit">
  <label for="name-input"> Your Name </label>
  <input  id="name-input" type="text" class="form-control"
      name="profileName" value="<%= user.name %>">
  <br>

  <label for="lastname-input"> Your Lastname </label>
  <input  id="lastname-input" type="text" class="form-control"
      name="profileLastname">
  <br>

  <label for="email-input"> Your E-mail </label>
  <input  id="email-input" type="text" class="form-control"
      name="profileEmail">
  <br>

  <label for="username-input"> Account Name </label>
  <input  id="username-input" type="text" class="form-control"
      name="profileUsername" value="<%= user.username %>">
  <br>

  <label for="current-password-input"> Current Password </label>
  <input  id="current-password-input" type="password" class="form-control"
      name="profileCurrentPassword">
  <br>

  <label for="new-password-input"> New Password </label>
  <input  id="new-password-input" type="password" class="form-control"
      name="profileNewPassword">
  <br>
  <br />

  <button class="btn btn-danger btn-fill"> Save </button>
</form>
